:root {
  --background-color: #222;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background-color);
  color: #ddd;
}

a {
  color: #99e;
  &:hover {
    color: #ccf;
  }
  &:active {
    color: white;
  }
}

#navBar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  li {
    list-style-type: none;
    select {
      appearance: none;
      background-color: var(--background-color);
      color: #00e;
      text-decoration: underline;
      font-size: medium;
      border: none;
      padding: 0 8px;
    }
  }
}

main {
  display: block;
  margin: 0 15vw;
}

.practice-form {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: 16px 16px;
}

input {
  border: 2px inset;
}
